
.benefits__svg {
    display: flex;
   justify-content: center;
   align-items: center;
    width: 450px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: var(--background-secondary-color);

    @media screen and (min-width: 768px) {
        width: 354px; 
    }
    @media screen and (min-width: 1199px) {
        width: 270px;
}
    
}

.benefits__list {
    gap: 30px;
    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    @media screen and (min-width: 1199px) {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        height: 257px;
        }
}

.benefits__title{
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--title-text-color);
            @media screen and (min-width: 768px) {
                  text-align: left;  
                }
            
             @media screen and (min-width: 1199px) {
                    text-align: left;
                }
}


.benefits__subtitle {
    color: var(--primary-text-color);
    line-height: 1.71;
    margin-top: 10px;

    @media screen and (min-width: 768px) {
        width: 354px;
        }
    
  
}
 