.customers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    @media screen and (min-width: 1199px) {
            flex-wrap: nowrap;
        }

}

.customers__item {
    width: 210px;
    height: 92px;
  
}

.customers__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--social-icon);
    width: 210px;
    height: 100%;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
     border-color: var(--accent-color);
     color: var(--accent-color);
        }
                @media screen and (min-width: 768px) {
                    width: 226px;
                }
        
                @media screen and (min-width: 1199px) {
                    width: 170px;
                }
}

