.container-top {
    padding-top: 0;
}

.doing__list {
    display: flex;
}
.doing__list li {
    margin-right: 30px;
}

.doing__list li:last-child {
    margin-right: 0;
}
.doing__thumb {
    position: relative;
}

.doing__thumb>.doing__title {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.doing__title {
    font-weight: 700;
    line-height: 16px;
    color: #ffffff;
}