:root {
    --header-border: #ececec;
    --accent-color: #2196f3;
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --background-main-color: #ffffff;
    --background-secondary-color: #f5f4fa;
    --background-titles-color: #2f303a;
    --studio-word-color: #000000;
    --button-active: #188ce8;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --gradient: rgba(47, 48, 58, 0.4);
    --main-txt-cl: #303030;
    --social-icon: #afb1b8;
}